/*
html, body {margin:0px; background: #000000 !important; font-family: Tahoma, Helvetica, Arial, sans-serif; font-size: 13px; color: #A0A0A0; text-align:center; width:100%;}
table{text-align:left;}

a { font-family:Arial; color:#C8101D; font-weight:bold; }
a.s { font-size:12px; }
a.ss { font-size:12px; }
a.p { font-family:Verdana,Tahoma,Arial; color:#FFFFFF; font-weight:bold; font-size:10px; }
td { font-family:Tahoma,Arial; color:#A0A0A0; font-size:11px; }

a:link {text-decoration:none;}
a:active {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

a.p:hover {color:#FF0000; }

.t { border:solid 1px #A0A0A0; margin-bottom:3px;}
.d { font-family:Tahoma,Arial; color:#D0D0D0; font-size:10.5px; font-weight:bold;}*/